/*
 * Copyright (c) 2022, Microchip Technology Inc. and its subsidiaries.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

/dts-v1/;

#include "lan969x.dtsi"

&sdmmc0 {
	status = "okay";
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-mmc-hw-reset;
	non-removable;
	no-1-8-v;
	disable-wp;
};

&qspi0 {
	status = "okay";
	spi-flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <20000000>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		m25p,fast-read;
	};
};
